{% extends "base.html" %}
{% load crispy_forms_tags %}



{% block head_title %}Welcome | {{ block.super }}{% endblock %}



{% block jumbotron_content %}
<h1>Hello there! example</h1>
<p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
<p>To see the difference between static and fixed top navbars, just scroll.</p>
<p>
<a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
</p>
{% endblock %}




{% block content %}
<div class="row">
  <div class="col-sm-6 col-md-3">
  	
			<h1>{{ title }}</h1>

			{{ user }}

			{{ request.user }}

			<form method='POST' action=''>{% csrf_token %}
			{{ form|crispy }}

			<input class='btn btn-primary' type='submit' value='Sign Up' />

			</form>
	</div>

</div>


{% endblock %}